bin/
obj/
Documentation/
*.save
*.bin
*.backup
*.layout
*.depend
*.cpb
test/paramLog
aux/translate/preprocessFile
aux/translate/paramLog
julia/preprocessFile
julia/constants.jl
*.sublime-workspace
bin2tec/*.dat
